@page "/"

@using System.Net.Http.Json
@using Radzen.Blazor
@using Shopping.Models.Results


@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject AppSettigns Settigns

@if (_statistic == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
            <div class="col-sm-12 my-5">
                <RadzenChart>
                    <RadzenColumnSeries Data="@_statistic.Statistics" CategoryProperty="Key" Title="Statistics"  ValueProperty="Value" />
                    <RadzenColumnOptions Radius="5" />
                </RadzenChart>
            </div>
        </div>
}

@code{
    private PurchaseStatistic? _statistic;

    protected async override Task OnInitializedAsync()
    {
        _statistic = await HttpClient.GetFromJsonAsync<PurchaseStatistic>(Settigns.ApiUrl + "/purchases/statistic");
    }
}